{
    "parser": "babel-eslint",
    "env": {
        "mocha": true,
        "node": true,
    },
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "max-len": [1, 140]
    },
}
